body
{
  padding-top: 70px;
  font-family: serif;
}

h1, h2, h3, h4, h5, h6
{
  font-family: serif;
}

.input-group-sm > input
{
  height: 32px !important;
}

.spinner-button
{
  height: 16px;
}

#final-exam-grade, #final-grade
{
  width: 75%;
}